body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f5;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23cdda;
    padding: 15px;
}

.logo {
    height: 60px;
    width: auto; /* Evita que se deforme */
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Poppins', sans-serif;
}

/* Search Form */
.search-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #060c13;
}

/* Título Principal */
#main-title {
    text-align: center;
    margin: 20px 0;
}

/* Navegación */
.nav-container {
    display: flex;
    justify-content: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav li {
    position: relative; /* Necesario para posicionar los submenús */
}

.nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

/* Ocultar el submenú por defecto */
.nav .dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona el submenú debajo del elemento principal */
    left: 0;
    background-color: #f0f0f5;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav .dropdown li {
    width: 150px; /* Opcional: puedes ajustar el ancho del submenú */
    list-style: none;
}

.nav .dropdown a {
    font-weight: normal;
    color: #333;
    padding: 8px 15px;
}

/* Mostrar el submenú al pasar el cursor */
.nav li:hover > .dropdown {
    display: block;
}

/* Opcional: estilos al pasar el cursor por los enlaces */
.nav a:hover {
    background-color: #007bff;
    color: white;
}

.auth-buttons {
    display: flex;
    gap: 10px; /* Espacio entre botones */
    margin-bottom: 10px; /* Espacio sobre el formulario de búsqueda */
}

.auth-buttons button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginBtn {
    background-color: #4CAF50; /* Verde para Iniciar sesión */
    color: white;
}

#registerBtn {
    background-color: #008CBA; /* Azul para Registrarse */
    color: white;
}

#logoutBtn {
    background-color: #f44336; /* Rojo para Cerrar sesión */
    color: white;
}

.buttonLogout{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout{
    width: auto;
    height: 40px;
    display: grid;
    place-items: center;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout:hover{
    background-color: #208ca7;
    color: #ffffff;
}

/* Contenido Principal */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.text-content {
    width: 50%; /* Ajusta el ancho del texto */
    padding: 10px;
}

/* Estilo del contenedor del slider */
.slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Contenedor de las slides */
  .slides {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Transición suave */
  }
  
  /* Cada slide ocupa el 100% del contenedor */
  .slide {
    min-width: 100%;
    transition: opacity 0.8s ease;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  



.services-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1200px;
    margin-top: 20px;
}

.service-card {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.service-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;}

.service-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-card button:hover {
    background-color: #0056b3;
}

  /* Adaptación a pantallas pequeñas */
@media (max-width: 768px) {
    .services-container {
    flex-direction: column;
    align-items: center;
    }

    .service-card {
    width: 80%;
    margin-bottom: 20px;
    }
}

.button {
    display: inline-block;
    background-color: #13bbad;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}



/* Noticias */

/* Ajuste del Body */
body {
    margin: 0;
    min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

/* Sección de Novedades */
.novedades {
    flex: 1; /* Permite que esta sección se expanda para llenar el espacio */
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto; /* Margen superior e inferior para separación */
}

/* Título */
.novedades h2 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Grid de las novedades */
.novedades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

/* Tarjetas */
.novedad {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
}

.novedad:hover {
    transform: scale(1.05);
}

/* Imagen en las tarjetas */
.novedad img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Texto en las tarjetas */
.novedad p {
    margin: 5px 0;
    color: #666;
}

.novedad h3 {
    color: #000000;
    font-size: 1.2rem;
    margin: 10px 0;
}

footer {
    background-color: #007bff; /* Azul fuerte */
    color: white; /* Texto blanco */
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra negra suave */
}


/* Asegura que el footer no se superponga con el contenido */
footer p {
    margin: 0;
}

/* Footer */
.footer-container {
    background-color: #22b2cc;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    }

    /* for all social containers*/
    .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128c37;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
    transform: translateY(-50px);
    opacity: 0;
    }

    100% {
    transform: translateY(0);
    opacity: 1;
    }
    }  