body {
    margin: 0;
    padding: 0;
    background-image: url(./fondopsicologia.jpg); /* Fondo de la página */
    background-size: cover; /* Asegura que el fondo cubra toda la ventana */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Mínima altura de la ventana */
    display: flex;
    align-items: left; /* Centrar el contenido verticalmente */
    justify-content: center; /* Centrar el contenido horizontalmente */
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 15px;
    width: 90%; /* Ocupa el 90% del ancho de la ventana */
    max-width: 1200px; /* No excede un máximo de 1200px */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el contenedor */
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8); /* Texto semitransparente */
}

.table {
    color: rgba(0, 0, 0, 0.8); 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    overflow: hidden;
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

.table th, .table td {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
}