<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/agregarPersona.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/citas}">Ver listado de las citas</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center">Agregar Citas</h1>
                    <div class="card-body">
                        <form th:action="@{/agregarCita}" th:object="${cita}" method="POST">

                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="date" name="fecha" th:field="*{fecha}"
                                       class="form-control"
                                       placeholder="Opcional" 
                                       required/>
                            </div>

                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <input type="text" name="estado" th:field="*{estado}"
                                       class="form-control"
                                       placeholder="PENDIENTE, COMPLETADA O CANCELADA" />
                            </div>

                            <div class="form-group">
                                <label for="historial_psicosocial">ID Historial Psicosocial</label>
                                <select style="height: 40px;" th:field="*{historialPsicosocial}" name="historial_psicosocial" class="form-control">
                                    <option th:each="historialPsicosocial : ${historial_psicosocial}" th:value="${historialPsicosocial.idHistorial_Psicosocial}" th:text="${historialPsicosocial.idHistorial_Psicosocial}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="personas">ID Personas</label>
                                <select style="height: 40px;" th:field="*{persona}" name="personas" class="form-control">
                                    <option th:each="persona : ${personas}" th:value="${persona.idPersonas}" th:text="${persona.idPersonas}">
                                    </option>
                                </select>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/JS/formularios.js"></script>
    </body>
</html>
