<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Aprendiz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/app/src/main/resources/static/editarpersona.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/personas/psicosociales}">Ver listado de los psicosociales</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center">Editar Psicosocial</h1>
                    <div th:if="${error}" class="alert alert-danger">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/editarPsicosocial}" th:object="${persona}" method="POST">
                            <input type="hidden" th:field="*{idPersonas}"/>

                            <div class="form-group">
                                <label for="primer_nombre">Primer nombre</label>
                                <input type="text" name="primer_nombre" th:field="*{primer_nombre}"
                                       class="form-control"
                                       placeholder="Obligatorio" 
                                       required
                                       pattern="[a-zA-Z ]{1,10}" title="Solo letras, máximo 10 caracteres">
                            </div>

                            <div class="form-group">
                                <label for="segundo_nombre">Segundo nombre</label>
                                <input type="text" name="segundo_nombre" th:field="*{segundo_nombre}"
                                       class="form-control"
                                       placeholder="Opcional" 
                                       pattern="[a-zA-Z ]{0,10}" title="Solo letras, máximo 10 caracteres">
                            </div>

                            <div class="form-group">
                                <label for="primer_apellido">Primer apellido</label>
                                <input type="text" name="primer_apellido" th:field="*{primer_apellido}"
                                       class="form-control"
                                       placeholder="Obligatorio" 
                                       required 
                                       pattern="[a-zA-Z ]{0,10}" title="Solo letras, máximo 10 caracteres">
                            </div>

                            <div class="form-group">
                                <label for="segundo_apellido">Segundo apellido</label>
                                <input type="text" name="segundo_apellido" th:field="*{segundo_apellido}"
                                       class="form-control"
                                       placeholder="Opcional" 
                                       pattern="[a-zA-Z ]{0,10}" title="Solo letras, máximo 10 caracteres">

                            <div class="form-group">
                                        <label for="numero_documento">N° Documento</label>
                                        <input type="number" name="numeroDocumento" th:field="*{numeroDocumento}"
                                               class="form-control"
                                               placeholder="Obligatorio" 
                                               required
                                               min="100000" max="9999999999" 
                                       title="Debe tener entre 7 y 10 dígitos"
                                       inputmode="numeric"
                                       oninput="this.value = this.value.replace(/e/gi, '')">
                            </div>  

                            <div class="form-group">
                                <label for="numero_contacto">Numero de contacto</label>
                                <input type="tel" name="numeroContacto" th:field="*{numeroContacto}"
                                       class="form-control"
                                       placeholder="Obligatorio"
                                       pattern="(300|301|302|303|304|305|310|311|312|313|314|320|321|322|323|324)\d{7}" 
                                       title="Debe comenzar con uno de los prefijos permitidos y tener 10 dígitos"
                                       required
                                       oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            </div> 

                            <div class="form-group">
                                <label for="email">Correo</label>
                                <input type="email" name="email" th:field="*{email}"
                                       class="form-control"
                                       placeholder="Obligatorio"
                                       required
                                       pattern="^[a-zA-Z0-9]+@(gmail\.com|hotmail\.com)$"
                                       maxlength="45"
                                       title="Debe tener entre 1 a 35 caracteres y ser un correo de gmail o hotmail">
                            </div>
                            <div class="form-group">
                                <label for="roles">Rol</label>
                                <select style="height: 40px;" th:field="*{rol}" name="roles" class="form-control">
                                    <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nombre_rol}">
                                    </option>
                                </select>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/JS/formularios.js"></script>
    </body>
</html>
