<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <style>
        /* Copia los estilos del formulario anterior para mantener la consistencia */
    </style>
</head>
<body>
    <div class="form-box">
            <div class="input_container">
                <label class="input_label" for="nueva_contraseña">Nueva contraseña</label>
                <input placeholder="Ingresa tu nueva contraseña" title="Nueva contraseña" 
                name="password" type="nueva_contraseña" class="input_field" id="password" required>
                <input type="hidden" id="id" name="id" th:value="${idPersonas}" />
            </div>
            <button type="button" onclick="changePassword()" class="btn btn-primary">Submit</button>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script>
    function changePassword() {
        let data = { "id": $('#id').val(), "password": $('#password').val() };
        $.post({
         url: "/resetpassword", 
         data: JSON.stringify(data),
         contentType:"application/json",
         success: function(data, status){
             alert("Contraseña cambiada con éxito");
             window.location.href = "/login";
         },
     });
    } 
</script>
</body>
</html>